.App {
  text-align: center;
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  background: #0079bf;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-list {
  display: flex;
}